.about {

    &__container {}

    &__row {
        width: 100%;

        @include media('tablet', false) {
            display: grid;
            grid-template-rows: 1fr auto;
            grid-template-columns: calc(40% - 40px) calc(40% - 40px) 20%;
            column-gap: 40px;
            grid-template-areas:
                "title img-wrapper work-info"
                "skills img-wrapper work-info";
        }

        @include media('tablet-1200', false) {
            display: grid;
            grid-template-rows: 1fr auto;
            grid-template-columns: calc(30% - 40px) calc(50% - 40px) 20%;
            column-gap: 40px;
            grid-template-areas:
                "title img-wrapper work-info"
                "skills img-wrapper work-info";
        }
    }

    &__title {
        grid-area: title;
    }

    &__skills {
        display: flex;
        grid-area: skills;

        @include media('tablet', true) {
            flex-direction: column;
        }
    }

    &__skill {
        &:not(:last-child) {
            margin-right: 40px;

            @include media('tablet', true) {
                margin-right: 0;
                margin-bottom: 60px;
            }
        }
    }

    &__skill-title {
        display: flex;
        align-items: center;
        margin-bottom: 84px;

        @include media('tablet', true) {
            margin-bottom: 30px;
        }

        div {
            margin-right: 10px;
        }
    }

    &__skill-desc {}

    &__img-wrapper {
        grid-area: img-wrapper;
        position: relative;
        width: 100%;
        height: toVh(980);
        margin-top: -70px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__work-info {
        margin-top: 240px;
        text-transform: none;
        grid-area: work-info;

    }
}