.recognition {

    &__container {}

    &__row {

        @include media('tablet-1200', false) {
            display: grid;
            grid-template-rows: 1fr auto;
            grid-template-columns: 40% 60%;
            column-gap: 40px;
            grid-template-areas:
                "title inner"
                "contact-me inner";
        }
    }

    &__title {
        grid-area: title;

        @include media('tablet-1200', true) {
            margin-bottom: 60px;
        }
    }

    &__contact-me {
        max-width: 330px;
        grid-area: contact-me;

        @include media('tablet-1200', true) {
            padding-bottom: 30px;

        }
    }

    &__contact-bottom {}

    &__contact-text {
        margin-bottom: toVh(70);
    }


    &__contact-button {
        max-width: 244px;
        min-width: 244px;
    }

    &__inner {
        grid-area: inner;
    }

    &__img-wrapper {
        position: relative;
        margin-bottom: toVh(70);
        height: toVh(317);
        width: 100%;
        overflow: hidden;

        @include media('tablet-1200', true) {
            height: 317px;
            margin-right: -45px;
            margin-left: -45px;
            width: auto;

        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 1051px;
        height: 317px;

        @include media('tablet-1200', true) {
            width: 100%;
        }

        object-position: center;
        object-fit: cover;
    }

    &__resource {
        display: flex;
        justify-content: space-between;

        @include media('tablet-1200', true) {
            margin-bottom: 30px;
        }
    }

    &__resource-list {
        &:last-child {
            margin-right: 100px;

            @include media('tablet', true) {
                margin-right: 0px;

            }
        }
    }

    &__resource-list-title {
        margin-bottom: 40px;
    }

    &__resource-list-item {
        &:not(:last-child) {
            margin-bottom: toVh(30);
        }
    }
}