.m2footer {
  padding-bottom: 70px;

  @include media("tablet") {
    padding: 0 70px 70px;
  }

  @include media(992) {
    padding: 0 45px 30px;
  }

  @include media("mobile-620") {
    padding: 0 10px 17px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;

    @include media("mobile-620") {
      flex-direction: column;
    }
  }

  &-navbar {
    display: flex;
    align-items: center;

    @include media("mobile-350") {
      justify-content: space-between;
    }

    &__link {
      &:not(:last-child) {
        margin-right: 154px;

        @include media(992) {
          margin-right: 60px;
        }

        @include media("mobile-350") {
          margin-right: 0;
        }
      }
    }
  }

  &__top {
    @include media("mobile-620") {
      margin-bottom: 62px;
    }
  }

  a {
    @include animation;

    @include media(993, false) {
      &:hover {
        color: $main-green;
        @include animation;
      }
    }
  }
}
