.hero {
  padding-top: 152px;
  padding-bottom: 120px;

  @include media("tablet") {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  @include media("mobile-620") {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 88px;

    @include media("mobile") {
      margin-bottom: 52px;
    }
    @include media("mobile-450") {
      margin-bottom: 32px;
    }
  }

  &__img {
    margin-bottom: 116px;
    width: 100%;
    object-fit: cover;

    @include media(992) {
      margin-bottom: 60px;
    }

    @include media("mobile-450") {
      margin-bottom: 40px;
    }
  }

  &__headline {
    margin-bottom: 75px;

    @include media("tablet") {
      margin-bottom: 60px;
    }

    @include media("mobile-620") {
      margin-bottom: 40px;
    }
  }

  &__description {
    margin-bottom: 70px;

    @include media("mobile-620") {
      margin-bottom: 50px;
    }

    @include media("mobile-450") {
      margin-bottom: 40px;
    }
  }

  &-description {
    padding-top: 6px;

    @include media("tablet") {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 70px;

        @include media("tablet") {
          margin-right: 70px;
          margin-bottom: 0;
        }

        @include media(992) {
          margin-right: 22px;
        }

        @include media("mobile") {
          margin-bottom: 50px;
        }

        @include media("mobile-450") {
          margin-bottom: 25px;
        }
      }

      @include media("tablet") {
        &_share {
          flex-direction: row;
        }
      }
    }

    &__title {
      margin-bottom: 20px;

      @include media("tablet") {
        margin-bottom: 10px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;

      @include media("tablet") {
        flex-wrap: wrap;

        &_share {
          flex-basis: 100%;
          flex-direction: row;
          flex-shrink: 0;
        }
      }
    }

    &__li {
      &_share {
        @include animation;

        @include media(993, false) {
          &:hover {
            color: $main-green;
            @include animation;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      @include media("tablet") {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}
