mixin bodyLinks(links)
  ul.body-share__list
    each item in links
      li.m2text1.neue.neue-text1.body-share__li
        a(href= item.link).body-share__link= item.name

.body
  .m2container
    .m2container-body
      .m2container-body__aside
      .m2container-body__main
        img(src="images/blog/blog-0.jpg", alt="Photo of a plant with objects of different shapes").body__image

        p(class="text m2text3 manrope manrope-text1 body__text body__text_1")
          | Gamification marketing growth hacking hackathon research & development strategy user experience leverage pitch innovator series A financing. Client rockstar infrastructure freemium. Backing gamification holy grail termsheet rockstar iteration advisor infographic monetization. Pivot stock metrics rockstar social media launch party seed round handshake influencer user experience. Business&#8209;to&#8209;business iPad agile development infrastructure pivot incubator innovator research & development. Bootstrapping technology gen-z prototype founders backing funding business&#8209;to&#8209;business. Conversion handshake growth hacking social proof research & development first mover advantage leverage.
        //- +mainText('body__text body__text_1', 'Gamification marketing growth hacking hackathon research & development strategy user experience leverage pitch innovator series A financing. Client rockstar infrastructure freemium. Backing gamification holy grail termsheet rockstar iteration advisor infographic monetization. Pivot stock metrics rockstar social media launch party seed round handshake influencer user experience. Business-to-business iPad agile development infrastructure pivot incubator innovator research & development. Bootstrapping technology gen-z prototype founders backing funding business-to-business. Conversion handshake growth hacking social proof research & development first mover advantage leverage.')

        p(class="text m2text3 manrope manrope-text1 body__text body__text_2")
          | Channels prototype iPhone conversion supply chain equity graphical&nbsp;user interface early adopters metrics. Gen-z supply chain iPad growth hacking product management stock handshake equity ramen alpha. First mover advantage social media scrum project A/B testing analytics handshake gen-z.
        //- +mainText('body__text body__text_2', 'Channels prototype iPhone conversion supply chain equity graphical user interface early adopters metrics. Gen-z supply chain iPad growth hacking product management stock handshake equity ramen alpha. First mover advantage social media scrum project A/B testing analytics handshake gen-z.')

        +neueHeadline3('body__important', 'Interaction design partner network conversion network effects rockstar. MVP launch party social media infographic seed money startup partnership. Strategy MVP founders handshake hackathon startup technology market.')

        .body__photos.body-photos
          img(src="images/blog/blog-photos-0.jpg", alt="Photo of a plant with objects of different shapes").body-photos__item
          img(src="images/blog/blog-photos-1.jpg", alt="Photo of a plant with objects of different shapes").body-photos__item

        +mainText('body__text body__text_3', 'Backing handshake long tail supply chain. Agile development value proposition disruptive leverage non-disclosure agreement entrepreneur long tail infographic sales. Business plan series A financing strategy advisor bootstrapping mass market validation twitter. Stock seed money twitter partnership release mass market stealth. Investor non-disclosure agreement backing hackathon paradigm shift supply chain MVP seed money infographic freemium product management release influencer strategy. Market early adopters first mover advantage.')

        p(class="text m2text3 manrope manrope-text1 body__text body__text_4")
          | First mover advantage paradigm shift business&#8209;to&#8209;business termsheet branding user experience series A financing product management mass market holy grail deployment. Launch party infographic twitter growth hacking pitch buzz ecosystem user experience. Ownership advisor social media seed round equity business model canvas social proof accelerator influencer funding termsheet virality assets. Network effects assets handshake monetization iteration marketing alpha accelerator traction angel investor. Paradigm shift infographic investor research & development holy grail bandwidth release innovator metrics burn rate analytics termsheet lean startup. Return on investment vesting period low hanging fruit validation accelerator.
        //- +mainText('body__text body__text_4', 'First mover advantage paradigm shift business-to-business termsheet branding user experience series A financing product management mass market holy grail deployment. Launch party infographic twitter growth hacking pitch buzz ecosystem user experience. Ownership advisor social media seed round equity business model canvas social proof accelerator influencer funding termsheet virality assets. Network effects assets handshake monetization iteration marketing alpha accelerator traction angel investor. Paradigm shift infographic investor research & development holy grail bandwidth release innovator metrics burn rate analytics termsheet lean startup. Return on investment vesting period low hanging fruit validation accelerator.')

        .body-share
            p.text.manrope.manrope-text2.m2text4.body-share__title
              | Share
            +bodyLinks([{'name': 'Facebook', 'link': '#'}, {'name': 'LinkedIn', 'link': '#'}, {'name': 'Twitter', 'link': '#'}])
            