.body
  .m2container
    .m2container-body
      .m2container-body__aside
      .m2container-body__main
        img(src="images/blog/blog-0.jpg", alt="Photo of a plant with objects of different shapes").body__image