section.hero 
  .m2container
    h1.hero__title.neue.neue-headline1.m2headline1 Technology direct mailing startup 
    img(src="images/blog/blog-hero.jpg", alt="Photo of the balancing objects").hero__img

    .m2container-body
      .m2container-body__aside 
        .hero-description.hero__description
          +listItem('Author', [{'name': 'Ryen King'}])
          +listItem('Date', [{'name': 'April 19, 2021'}])
          +listItem('Share', [{'name': 'Facebook', 'link': '#'}, {'name': 'LinkedIn', 'link': '#'}, {'name': 'Twitter', 'link': '#'}], true)
          
      .m2container-body__main
          +neueHeadline3('hero__headline', 'Marketing technology customer disruptive business model canvas. Hypotheses social media pitch interaction technology launch party disruptive ownership A/B testing. Startup innovator equity mass market termsheet seed money pitch direct mailing facebook branding. Handshake launch party funding metrics.')
          +mainText('hero__text', 'Beta crowdsource ecosystem buyer twitter client business-to-business android seed round value proposition. Marketing stock influencer value proposition iPad technology launch party direct mailing virality churn rate freemium funding scrum project seed money. Series A financing value proposition iPhone agile development stealth disruptive prototype interaction design leverage validation assets social media. Infrastructure user experience customer vesting period gen-z.')