mixin listItem(title, listItems, link)
  if (title === 'Share')
    .hero-description__item.hero-description__item--share
      p.text.m2text4.manrope.manrope-text2.hero-description__title= title
      .hero-description__list.hero-description__list--share
        each listItem in listItems
          a(href= listItem.link).m2text1.neue.neue-text1.hero-description__li.hero-description__li--share= listItem.name
  else
    .hero-description__item
      p.text.m2text4.manrope.manrope-text2.hero-description__title= title
      .hero-description__list
        each listItem in listItems
          p.m2text1.neue.neue-text1.hero-description__li= listItem.name

section.hero 
  .m2container
    .hero-top
      .m2container-body
        h1.hero__title.neue.neue-headline1.m2headline1 Technology direct mailing startup
      .hero-img.hero__img
        img(src="images/blog/blog-hero-img.jpg", alt="Photo of the balancing objects").hero-img__item

    .m2container-body
      .m2container-body__aside 
        .hero-description.hero__description
          +listItem('Author', [{'name': 'Ryen King'}])
          +listItem('Date', [{'name': 'April 19, 2021'}])
          +listItem('Share', [{'name': 'Facebook', 'link': '#'}, {'name': 'LinkedIn', 'link': '#'}, {'name': 'Twitter', 'link': '#'}], true)
          
      .m2container-body__main
          +neueHeadline4('hero__headline', 'Marketing technology customer disruptive business model canvas. Hypotheses social media pitch interaction technology launch party disruptive ownership A/B testing. Startup innovator equity mass market termsheet seed money pitch direct mailing facebook branding. Handshake launch party funding metrics.')
          +mainText('hero__text', 'Beta crowdsource ecosystem buyer twitter client business-to-business android seed round value proposition. Marketing stock influencer value proposition iPad technology launch party direct mailing virality churn rate freemium funding scrum project seed money. Series A financing value proposition iPhone agile development stealth disruptive prototype interaction design leverage validation assets social media. Infrastructure user experience customer vesting period gen-z.')