// main2 only styles
.m2container {
  margin: 0 auto;
  max-width: 1779px;

  @include media(1900) {
    max-width: 1400px;
  }
  @include media(1600) {
    max-width: 1140px;
  }
  @include media(1200) {
    max-width: 960px;
  }
  @include media(992) {
    max-width: 700px;
  }
  @include media(768) {
    max-width: 576px;
    width: 92.5%;
  }

  &-body {
    display: flex;
    align-items: start;
    justify-content: flex-end;

    &__aside {
      margin-right: 186px;

      @include media(1900) {
        margin-right: auto;
      }

      @include media(1600) {
        margin-right: 0;
      }
    }

    &__main {
      width: 1050px;
      flex-shrink: 0;

      @include media(1600) {
        width: 100%;
      }
    }

    @include media(1600) {
      flex-direction: column;
    }
  }
}

// Probably project global styles
.m2headline1 {
  @include media(1900) {
    font-size: 120px;
  }
  @include media(1600) {
    font-size: 100px;
  }
  @include media(1200) {
    font-size: 86px;
  }
  @include media(992) {
    font-size: 60px;
  }
  @include media(768) {
    font-size: 42px;
  }
  @include media(600) {
    font-size: 36px;
  }
  @include media(440) {
    font-size: 26px;
  }
}

.m2headline3 {
  @include media(992) {
    font-size: 32px;
  }

  @include media(600) {
    font-size: 22px;
  }
}

.m2text1 {
  @include media(992) {
    font-size: 22px;
  }
}

.m2text3 {
  @include media(992) {
    font-size: 18px;
  }
}

.m2text4 {
  @include media(992) {
    font-size: 16px;
  }
}
