// main2 only styles
.m2container {
  margin: 0 auto;
  max-width: 1779px;

  @include media(1900) {
    max-width: 1400px;
  }
  @include media("tablet") {
    max-width: 1140px;
  }
  @include media("tablet-1200") {
    max-width: 960px;
  }
  @include media(992) {
    max-width: 700px;
  }
  @include media("mobile") {
    max-width: 576px;
    width: 92.5%;
  }

  &-body {
    display: flex;
    align-items: start;
    justify-content: flex-end;

    &__aside {
      margin-right: 186px;

      @include media(1900) {
        margin-right: auto;
      }

      @include media("tablet") {
        margin-right: 0;
      }
    }

    &__main {
      width: 1050px;
      flex-shrink: 0;

      @include media("tablet") {
        width: 75%;
      }

      @include media(992) {
        width: 100%;
      }
    }

    @include media("tablet") {
      flex-direction: column;
    }
  }
}

// Probably project global styles
.m2headline1 {
  @include media(1900) {
    font-size: 120px;
  }
  @include media("tablet") {
    font-size: 100px;
  }
  @include media("tablet-1200") {
    font-size: 86px;
  }
  @include media(992) {
    font-size: 60px;
  }
  @include media("mobile") {
    font-size: 42px;
  }
  @include media("mobile-620") {
    font-size: 36px;
  }
  @include media("mobile-450") {
    font-size: 26px;
  }
}

.m2headline3 {
  @include media("tablet") {
    font-size: 32px;
  }

  @include media("mobile-620") {
    font-size: 22px;
  }
}

.m2text1 {
  @include media(992) {
    font-size: 22px;
  }

  @include media("mobile-450") {
    font-size: 16px;
  }
}

.m2text3 {
  @include media("tablet") {
    font-size: 20px;
  }

  @include media("mobile-620") {
    font-size: 16px;
  }
}

.m2text4 {
  @include media(992) {
    font-size: 16px;
  }

  @include media("mobile-450") {
    font-size: 14px;
  }
}

.m2comment {
  @include media("tablet") {
    font-size: 18px;
  }

  @include media("mobile-620") {
    font-size: 16px;
  }
}

.m2button {
  display: flex;
  align-items: center;
  width: 158px;
  height: 60px;
  padding-left: 27px;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: $main-black;

  background: url("../images/arrow-right.svg") no-repeat;
  background-position: right 28px center;
  background-color: $main-green;

  cursor: pointer;

  @include animation;

  @include media(993, false) {
    &:hover {
      background-color: $main-white;

      @include animation;
    }
  }
}

.m2link {
  display: flex;
  align-items: center;
  font-family: "NeueMachina", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 110%;
  text-transform: uppercase;
  color: $main-green;

  &__arrow {
    width: 64px;
    height: 32px;
    margin-left: 40px;
    fill: $main-green;
  }

  @include media(993, false) {
    &:hover {
      color: $main-white;

      .m2link__arrow {
        fill: $main-white;
      }
    }
  }
}
