.container {
  max-width: calc(100% - 200px);
  margin: auto;
}

.line {
  height: 2px;
  background: #787a7c;
  width: 100%;
}

#pp-nav {
  display: none;
}

body {
  background: $main-black;
  color: $main-white;
}

.section {
  background-color: #000;
  // opacity: 0;
  height: 100%;

  // @include media('tablet-1000') {
  //     opacity: 1;
  // }

  // &.active {

  //     opacity: 1;
  // }
}