.neue {
  font-family: "NeueMachina", sans-serif;
  font-style: normal;

  &-headline1 {
    font-weight: 500;
    font-size: 140px;
    line-height: 90%;
    text-transform: uppercase;
  }

  &-headline2 {
    font-weight: 500;
    font-size: 70px;
    line-height: 110%;
    text-transform: uppercase;

    @include media('tablet', true) {
      font-size: 56px;
    }

    @include media('tablet-1000', true) {
      font-size: 50px;
    }

    @include media('mobile', true) {
      font-size: 36px;
    }

    &-green {
      color: $main-green;
      font-weight: 500;
      font-size: 70px;
      line-height: 110%;
      text-transform: uppercase;

      @include media('tablet', true) {
        font-size: 56px;
      }

      @include media('tablet-1000', true) {
        font-size: 50px;
      }

      @include media('mobile', true) {
        font-size: 36px;
      }
    }
  }

  &-headline3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;

    @include media('tablet', true) {
      font-size: 32px;
    }

    @include media('tablet-1000', true) {
      font-size: 24px;
    }
  }

  &-text1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  &-text2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }

  &-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    color: $main-green;

    @include animation;

    @include media(tablet-1000, false) {
      &:hover {
        color: $main-white;

        @include animation;
      }
    }
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-style: normal;

  &-text1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
  }

  &-text2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    @include media('tablet-1200', true) {
      font-size: 16px;
    }

    @include media('tablet-1000', true) {
      font-size: 14px;
    }
  }
}

.text {
  color: $light-grey;
}

.sfpro {
  font-family: "SFProDisplay", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}