footer.m2footer
  .m2container
    .m2footer-wrapper
      a(href='#').m2text1.neue.neue-text1.m2footer__top.js-to-top#totop
        | Back to top

      nav.m2footer-navbar
        a(href='/index.html#works').m2text1.neue.neue-text1.m2footer-navbar__link
          | Work
        a(href='/index.html#contacts').m2text1.neue.neue-text1.m2footer-navbar__link
          | Contacts