header.header__wrapper
	.header
		.header__burger
			span 
		.header__menu
			.header__menu-exit
			.header__menu-content
				ul.header__menu-list#myMenu 
					li.header__menu-item(data-menuanchor="home")
						a.header__menu-link(href="#home") Home
					li.header__menu-item(data-menuanchor="cases")
						a.header__menu-link(href="#cases") Portfolio
					li.header__menu-item(data-menuanchor="about")
						a.header__menu-link(href="#about") About
					li.header__menu-item(data-menuanchor="services")
						a.header__menu-link(href="#services") Services
					li.header__menu-item(data-menuanchor="experience")
						a.header__menu-link(href="#experience") Clients
					li.header__menu-item(data-menuanchor="awards")
						a.header__menu-link(href="#awards") Awards
					li.header__menu-item(data-menuanchor="testimonials")
						a.header__menu-link(href="#testimonials") Testimonials
					li.header__menu-item(data-menuanchor="blog")
						a.header__menu-link(href="#blog") Blog
					li.header__menu-item(data-menuanchor="contacts")
						a.header__menu-link(href="#contacts") Contacts 
		.header__inner 
			.header__logo RK
			ul.header__links
				li
					a Work
				li
					a Contacts
