header.header
  .header__wrapper
    .header__burger
      span 
    .header__menu
      a(href="/index.html").header__menu-logo
        | RK
      .header__menu-exit
      .header__menu-content
        ul.header__menu-list#myMenu 
          li.header__menu-item
            a(href="/index.html#home").header__menu-link
              | Home
          li.header__menu-item
            a(href="/index.html#about").header__menu-link
              | About
          li.header__menu-item
            a(href="/index.html#experience").header__menu-link
              | Experience
          li.header__menu-item
            a(href="/index.html#works").header__menu-link
              | Works
          li.header__menu-item
            a(href="/index.html#services").header__menu-link
              | Services
          li.header__menu-item
            a(href="/index.html#recognition").header__menu-link
              | Recognition
          li.header__menu-item
            a(href="/index.html#testimonials").header__menu-link
              | Testimonials
          li.header__menu-item
            a(href="/index.html#blog").header__menu-link
              | Blog
          li.header__menu-item
            a(href="/index.html#contacts").header__menu-link
              | Contacts 
    a(href="/index.html").header__logo RK
    ul.header__links
      li
        a(href="/index.html#works") Work
      li
        a(href="/index.html#contacts") Contacts
