.comments {
  padding-top: 130px;
  padding-bottom: 320px;

  @include media("tablet") {
    padding-top: 50px;
    padding-bottom: 205px;
  }

  @include media("mobile-450") {
    padding-bottom: 120px;
  }

  &__title {
    margin-bottom: 120px;

    @include media("tablet") {
      margin-bottom: 90px;
    }

    @include media(992) {
      margin-bottom: 63px;
    }

    @include media("mobile-620") {
      margin-bottom: 43px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;

      @include media(992) {
        margin-bottom: 40px;
      }
    }

    &_reply {
      &:not(:last-child) {
        margin-bottom: 100px;

        @include media(992) {
          margin-bottom: 62px;
        }
      }
    }
  }

  &__new {
    margin-left: 180px;
  }

  &-list {
    padding-bottom: 187px;
    max-width: 870px;

    @include media("tablet") {
      width: 80%;
      padding-bottom: 120px;
    }

    @include media(992) {
      width: 100%;
    }

    @include media("mobile-450") {
      padding-bottom: 97px;
    }
  }

  &-item {
    &_reply {
      margin-left: 180px;

      @include media("tablet") {
        margin-left: 10%;
      }

      @include media(992) {
        margin-left: 27%;
      }

      @include media("mobile-620") {
        margin-left: 17%;
      }
    }

    &__date {
      margin-bottom: 10px;

      @include media(992) {
        margin-bottom: 3px;
        font-size: 12px;
      }
    }

    &__content {
      margin-bottom: 30px;
      color: $light-grey;

      @include media(992) {
        margin-bottom: 23px;
      }
    }

    &__name {
      margin-bottom: 43px;

      @include media(992) {
        margin-bottom: 23px;
      }
    }
  }

  &-new {
    @include media("tablet") {
      margin-left: 0;
      width: 100%;
    }

    &__title {
      margin-bottom: 130px;
      color: $main-white;

      @include media("tablet") {
        margin-bottom: 90px;
      }

      @include media(992) {
        margin-bottom: 83px;
      }

      @include media("mobile-450") {
        margin-bottom: 63px;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;

    &__input-group {
      position: relative;
      flex-basis: 46%;

      @include media(992) {
        flex-basis: 100%;

        &:first-child {
          margin-bottom: 61px;
        }
      }

      &_textarea {
        flex-basis: 100%;
        margin-bottom: 69px;

        @include media(992) {
          margin-bottom: 91px;
        }
        @include media("mobile-450") {
          margin-bottom: 59px;
        }
      }
    }

    &__input {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid $light-grey;
      color: $main-white;
      background-color: transparent;

      @include media("mobile-450") {
        padding-bottom: 10px;
      }

      &::placeholder {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $light-grey;

        @include media("tablet") {
          font-size: 16px;
        }

        @include media(992) {
          font-size: 14px;
        }

        @include media("mobile-450") {
          font-size: 12px;
        }
      }

      @include media(992) {
        font-size: 14px;
      }

      @include media("mobile-450") {
        font-size: 12px;
      }
    }

    &__group {
      margin-bottom: 150px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include media("tablet") {
        margin-bottom: 91px;
      }

      @include media("mobile-450") {
        flex-wrap: wrap;
        margin-bottom: 101px;
      }
    }

    &__textarea {
      overflow: hidden;
      resize: none;
    }

    &__save {
      position: relative;
      margin-bottom: 120px;
      display: flex;
      align-items: center;
      padding-left: 40px;
      color: $light-grey;
      cursor: pointer;
      user-select: none;

      @include media("tablet") {
        margin-bottom: 90px;
      }

      @include media(992) {
        display: none;
      }

      & input:checked ~ .comments-form__checkmark {
        border: none;
        background-color: $main-green;
      }
      & input:checked ~ .comments-form__checkmark::after {
        display: block;
      }
    }

    &__checkbox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    &__checkmark {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid $light-grey;
      background-color: transparent;

      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 2px;
        left: 6.5px;
        width: 5px;
        height: 11px;
        border: solid $main-black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &__button {
      margin-left: auto;
      margin-right: 36px;

      @include media(992) {
        margin-left: 0;
        margin-right: auto;
        height: 80px;
        width: 149px;
        font-size: 20px;
      }

      @include media("mobile-450") {
        width: 117px;
        height: 60px;
        font-size: 12px;
      }
    }
  }
}

.js-validate-error-field {
  border: none !important;
  border-bottom: 1px solid #b81111 !important;
}
