.section-main.about.js-section#about
    .container-main.about__container
        .about__row
            .about__column 
                .about__title.neue-headline2-green My creative journey
                .about__skills
                    .about__skill
                        .about__skill-title
                            div.neue-headline2 8
                            span.neue-text2 years<br/>experience
                        .about__skill-desc.manrope-text2 I’ve been lucky to work with talented people and unique brands. Growth hacking sales learning curve stealth A/B testing ownership scrum project. Equity paradigm shift channels monetization startup buyer vesting period. 
                    .about__skill
                        .about__skill-title
                            div.neue-headline2 14
                            span.neue-text2 clients <br/> worldwide
                        .about__skill-desc.manrope-text2 My approach is to help my clients to visualize and communicate the best of themselves. Conversion prototype crowdfunding influencer early adopters aunch party innovator creative niche market low hanging fruit. 
            .about__column 
                .about__img-wrapper
                    img.about__img(src="img/main/about/img1.jpg")
            .about__column 
                .about__work-info.neue-headline3 My creative journey started in Rome where I studied for the past years.