.section-main.blog.js-section#blog
    .container-main.blog__container
        .blog__row
            .blog__title.neue-headline2-green Articles
            .swiper-container2.blog__swiper-container
                .swiper-wrapper.blog__swiper-wrapper
                    .swiper-slide.blog__swiper-slide 
                        .blog__card.blog__card-md
                            img.blog__card-img(src="img/main/blog/img1.jpg")
                            .blog__card-date.manrope-text1 13 March 2021
                            .blog__card-title.neue-headline3 Non-disclosure agreement bandwidth branding 
                    .swiper-slide.blog__swiper-slide 
                        .blog__card.blog__card-sm
                            img.blog__card-img(src="img/main/blog/img2.jpg")
                            .blog__card-date.neue-text2 Gaming Overload
                            .blog__card-title.neue-text1 Technology direct mailing startup 
                    .swiper-slide.blog__swiper-slide 
                        .blog__card.blog__card-sm
                            img.blog__card-img(src="img/main/blog/img2.jpg")
                            .blog__card-date.neue-text2 Gaming Overload
                            .blog__card-title.neue-text1 Technology direct mailing startup 
                    .swiper-slide.blog__swiper-slide 
                        .blog__card.blog__card-sm
                            img.blog__card-img(src="img/main/blog/img2.jpg")
                            .blog__card-date.neue-text2 Gaming Overload
                            .blog__card-title.neue-text1 Technology direct mailing startup 
            .swiper-button-wrapper 
                .swiper-button-prev2.blog__swiper-button-prev
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                    <path d="M29 18L21 25L29 32" stroke="#787A7C"/>
                    </svg>
                .swiper-button-next2.blog__swiper-button-next
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                    <path d="M21 32L29 25L21 18" stroke="#787A7C"/>
                    </svg>
