.section-main.contact.js-section#contact
    .contact__private.neue-text2 Privacy Policy
    .container-main.contact__container
        .contact__row 
            .contact__column
                .contact__work
                    .contact__work-text.manrope-text2 Advisor leverage infographic influencer. Equity business plan virality monetization lean startup validation conversion seed round hackathon crowdsource entrepreneur low hanging fruit ecosystem buzz. 
                    .contact__button-wrapper
                        .contact__button
                            include ../../../img/main/button-primary.svg
            .contact__column 
                .contact__title.neue-headline2-green how to reach me
                .contact__inner
                    .contact__wrapper
                        .contact__contacts
                            .contact__contact
                                .contact__contact-title.manrope-text2 Address
                                .contact__contact-item.contact__adress.neue-headline3 Via Francesco Del Giudice 86 Rome, Italy 
                            .contact__contact
                                .contact__contact-title.manrope-text2 Tel
                                .contact__contact-item.contact__tel.neue-headline3 +03 (61) 7994945
                            .contact__contact
                                .contact__contact-title.manrope-text2 Email
                                .contact__contact-item.contact__mail.neue-headline3 hey@ryenking.com
                        .contact__follow
                            .contact__contact-title.manrope-text2 Follow me
                            a.contact__follow-link.neue-headline3(href="") Behance
                            a.contact__follow-link.neue-headline3(href="") Dribbble
                            a.contact__follow-link.neue-headline3(href="") LinkedIn
                            a.contact__follow-link.neue-headline3(href="") Instagram







