.section-main.contact.js-section#contact
    .contacts__private.neue-text2 Privacy Policy
    .container-main.contacts__container
        .contacts__row 
            .contacts__column
                .contacts__work
                    .contacts__work-text.manrope-text2 Advisor leverage infographic influencer. Equity business plan virality monetization lean startup validation conversion seed round hackathon crowdsource entrepreneur low hanging fruit ecosystem buzz. 
                    .contacts__button-wrapper
                        a.contacts__button(href="#")
                            include ../../../img/main/button-primary.svg
            .contacts__column 
                .contacts__title.neue-headline2-green how to reach me
                .contacts__inner
                    .contacts__wrapper
                        .contacts__contacts
                            .contacts__contact
                                .contacts__contact-title.manrope-text2 Address
                                .contacts__contact-item.contacts__adress.neue-headline3 Via Francesco<br/> Del Giudice 86<br/> Rome, Italy 
                            .contacts__contact
                                .contacts__contact-title.manrope-text2 Tel
                                a.contacts__contact-item.contacts__tel.neue-headline3(href="tel:#") +03 (61) 7994945
                            .contacts__contact
                                .contacts__contact-title.manrope-text2 Email
                                a.contacts__contact-item.contacts__mail.neue-headline3(href="mailto:#") hey@ryenking.com
                        ul.contacts__follow
                            li.contacts__contact-title
                                .manrope-text2 Follow me
                            li.contacts__follow-link-wrapper
                                a.contacts__follow-link.neue-headline3(href="#") Behance
                            li.contacts__follow-link-wrapper
                                a.contacts__follow-link.neue-headline3(href="#") Dribbble
                            li.contacts__follow-link-wrapper
                                a.contacts__follow-link.neue-headline3(href="#") LinkedIn
                            li.contacts__follow-link-wrapper
                                a.contacts__follow-link.neue-headline3(href="#") Instagram







