.section-main.contact.js-section#contact
    .container-main.contact__container
        .contact__row 
            .contact__column
                .contact__work
                    .contact__work-text
                    .contact__button-wrapper
                        .contact__button
            .contact__column
            .contact__column


