.section-main.experience.js-section#experience
    .container-main.experience__container
        .experience__title.neue-headline2-green experience
        .experience__row
            .experience__resume
                .experience__resume-text.manrope-text2 Business plan seed money value proposition startup client direct mailing bootstrapping MVP success hypotheses gen-z pivot iteration ecosystem. Hackathon burn rate influencer business-to-business series A financing metrics low hanging fruit advisor alpha iPhone disruptive seed round. 
                a.experience__resume-button.button-primary
                    span Download resume
                    img(src="img/main/arrow.svg" alt="img")
            .experience__history
                a.experience__card.active(href="#")
                    .experience__card-top
                        .experience__position.neue-headline3 Art Director
                        .experience__company.neue-text1 Fastlane
                    .experience__date.manrope-text2 2017 - Present
                a.experience__card.active(href="#")
                    .experience__card-top
                        .experience__position.neue-headline3 UX/UI Designer & Developer
                        .experience__company.neue-text1 Acumen
                    .experience__date.manrope-text2 2015 - 2016
                a.experience__card.active(href="#")
                    .experience__card-top
                        .experience__position.neue-headline3 Creative Developer 
                        .experience__company.neue-text1 Designify
                    .experience__date.manrope-text2 2014 - 2017
                a.experience__card.active(href="#")
                    .experience__card-top
                        .experience__position.neue-headline3 Graphic Designer
                        .experience__company.neue-text1 Infinity Atlas
                    .experience__date.manrope-text2 2013 - 2014