.home.js-section#home
  .home-container
    img(src="img/main/home/king.jpg" alt="Author's photo").home-image.home-image_desktop.home__image
    img(src="img/main/home/home.jpg" alt="Author's photo").home-image.home-image_mobile.home__image
    .home-container__info.home-author
      h1.neue.neue-headline1.home-author__name
        | I’m Ryen King
      p.manrope.manrope-text2.home-author__description
        | My approach is to help my clients to visualize and communicate the best of themselves.

      a(href="#!").home-author__button

    .home-ticker.js-ticker
      .home-ticker__wrapper
        p.neue.neue-headline2.home-ticker__text
          | a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;
        p.neue.neue-headline2.home-ticker__text
          | a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;a digital designer //&nbsp;