.section-main.home.js-section#home
    <img class="home__img-author" src="img/main/home/king.jpg" />
    .container-main.home__container
        .home__row
            .home__author-info.manrope-text2 My approach is to help my clients to visualize and communicate the best of themselves. 
            .home__designer-wrapper
                .home__designer.neue-headline2-green.js-ticker-text
                    | a digital designer // a digital designer // a digital designer // a digital designer// a digital designer // a digital designer // a digital designer // a digital designer //
                    //- |  a digital designer // 
            .home__author-wrapper
                .home__author-name.neue-headline1 I’m Ryen King
                .home__author-button
                    include ../../../img/main/button-primary.svg
