.section-main.recognition.js-section#recognition
    .container-main.recognition__container
        .recognition__row
            .recognition__title.neue-headline2-green recognition
            .recognition__inner
                .recognition__img-wrapper
                    picture.recognition__img
                        source.recognition__img(srcset="img/main/recognition/img1.jpg" media="(min-width:767px)")
                        img.recognition__img(src="img/main/recognition/img1-adapt.jpg" alt="img")
                .recognition__resource
                    ul.recognition__resource-list.manrope-text2
                        li.recognition__resource-list-title.neue-headline3
                            span Muzli
                        li.recognition__resource-list-item
                            a(href="") Weekly Interactions Roundup
                        li.recognition__resource-list-item
                            a(href="") Website of the Day (x2)
                        li.recognition__resource-list-item
                            a(href="") UI Interactions 
                        li.recognition__resource-list-item
                            a(href="") Nominee
                    ul.recognition__resource-list.manrope-text2
                        li.recognition__resource-list-title.neue-headline3
                            span Behance
                        li.recognition__resource-list-item
                            a(href="") UI/UX (x2)
                        li.recognition__resource-list-item
                            a(href="") AIGA
                        li.recognition__resource-list-item
                            a(href="") Behance (x6) 
                        li.recognition__resource-list-item
                            a(href="") Photoshop
                        li.recognition__resource-list-item
                            a(href="") Illustrator
                    ul.recognition__resource-list.manrope-text2
                        li.recognition__resource-list-title.neue-headline3
                            span Awwwards
                        li.recognition__resource-list-item
                            a(href="") Developer Award
                        li.recognition__resource-list-item
                            a(href="") Site of the Day (x8)
                        li.recognition__resource-list-item
                            a(href="") Honorable (x3)
                        li.recognition__resource-list-item
                            a(href="") Site of the Year
            .recognition__contact-me
                .recognition__contact-text.manrope-text2 Customer entrepreneur channels interaction design assets strategy growth hacking analytics lean startup first mover advantage buzz network effects.
                a.recognition__contact-button.button-primary
                    span contact me
                    img(src="img/main/arrow.svg" alt="img")

