.section-main.services.js-section#services
    .container-main.services__container
        .services__row
            .services__column
                .services__card
                    .services__card-title.js-services-control(data-control="1")
                        span.manrope-text2 01
                        div.neue-headline1 Graphic Design
                    .services__tab.js-services-akk(data-item="1") 
                        .services__tab-img-wrapper 
                            img.services__tab-img(src="img/main/services/image1-akk.jpg") 
                        .services__tab-desc.manrope-text2 Funding creative freemium crowdfunding pitch traction termsheet handshake mass market metrics bandwidth advisor stock product management. Holy grail channels rockstar vesting period. Alpha ramen partner network bandwidth supply chain learning curve gen-z freemium traction advisor entrepreneur seed money channels. Learning curve monetization bootstrapping launch party.
                .services__card
                    .services__card-title.js-services-control(data-control="2")
                        span.manrope-text2 02
                        div.neue-headline1 Art Direction
                    .services__tab.js-services-akk(data-item="2") 
                        .services__tab-img-wrapper 
                            img.services__tab-img(src="img/main/services/image2-akk.jpg") 
                        .services__tab-desc.manrope-text2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Et explicabo perspiciatis laborum ex cum officia nisi ratione velit numquam doloremque optio corporis nihil animi quo ipsam deserunt dolore, voluptate labore!
                .services__card
                    .services__card-title.js-services-control(data-control="3")
                        span.manrope-text2 03
                        div.neue-headline1 Brand Strategy
                    .services__tab.js-services-akk(data-item="3") 
                        .services__tab-img-wrapper 
                            img.services__tab-img(src="img/main/services/image3-akk.jpg") 
                        .services__tab-desc.manrope-text2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit similique expedita earum, hic laboriosam, dolorum nesciunt modi iste pariatur facere nobis voluptates possimus ipsam quas! Nobis perspiciatis impedit sequi?ipsam quas! Nobis perspiciatis impedit sequi?
                .services__card
                    .services__card-title.js-services-control(data-control="4")
                        span.manrope-text2 04
                        div.neue-headline1 Motion
                    .services__tab.js-services-akk(data-item="4") 
                        .services__tab-img-wrapper 
                            img.services__tab-img(src="img/main/services/image4-akk.jpg") 
                        .services__tab-desc.manrope-text2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit similique expedita earum, hic laboriosam, dolorum nesciunt modi iste pariatur facere nobis voluptates possimus ipsam quas! Nobis perspiciatis impedit sequi?ipsam quas! Nobis perspiciatis impedit sequi? Nobis perspiciatis impedit sequi?
            .services__tabs
                .services__tab.js-services-tab(data-tab="1") 
                    .services__tab-img-wrapper 
                        img.services__tab-img(src="img/main/services/image1.jpg") 
                    .services__tab-desc.manrope-text2 Funding creative freemium crowdfunding pitch traction termsheet handshake mass market metrics bandwidth advisor stock product management. Holy grail channels rockstar vesting period. Alpha ramen partner network bandwidth supply chain learning curve gen-z freemium traction advisor entrepreneur seed money channels. Learning curve monetization bootstrapping launch party.
                .services__tab.js-services-tab(data-tab="2") 
                    .services__tab-img-wrapper 
                        img.services__tab-img(src="img/main/services/image2.jpg") 
                    .services__tab-desc.manrope-text2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Et explicabo perspiciatis laborum ex cum officia nisi ratione velit numquam doloremque optio corporis nihil animi quo ipsam deserunt dolore, voluptate labore!
                .services__tab.js-services-tab(data-tab="3") 
                    .services__tab-img-wrapper 
                        img.services__tab-img(src="img/main/services/image3.jpg") 
                    .services__tab-desc.manrope-text2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit similique expedita earum, hic laboriosam, dolorum nesciunt modi iste pariatur facere nobis voluptates possimus ipsam quas! Nobis perspiciatis impedit sequi?ipsam quas! Nobis perspiciatis impedit sequi?
                .services__tab.js-services-tab(data-tab="4") 
                    .services__tab-img-wrapper 
                        img.services__tab-img(src="img/main/services/image4.jpg") 
                    .services__tab-desc.manrope-text2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit similique expedita earum, hic laboriosam, dolorum nesciunt modi iste pariatur facere nobis voluptates possimus ipsam quas! Nobis perspiciatis impedit sequi?ipsam quas! Nobis perspiciatis impedit sequi? Nobis perspiciatis impedit sequi?


