.section-main.services.js-section#services
    .container-main.services__container
        .services__title.neue-headline2 creative fields  
        .services__row
            .services__card
                .services__card-title
                    span.manrope-text2 01
                    div.neue-headline3 Graphic Design
                .services__card-desc.manrope-text2 Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.
            .services__card
                .services__card-title
                    span.manrope-text2 02
                    div.neue-headline3 Art Direction
                .services__card-desc.manrope-text2 Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.
            .services__card
                .services__card-title
                    span.manrope-text2 03
                    div.neue-headline3 Brand Strategy
                .services__card-desc.manrope-text2 Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.
            .services__card
                .services__card-title
                    span.manrope-text2 04
                    div.neue-headline3 Motion
                .services__card-desc.manrope-text2 Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.