.section-main.services.js-section#services
    .container-main.services__container
        .services__title.neue-headline2 creative fields  
        .services__row
            .services__card
                .services__card-title
                    span 01
                    div Graphic Design
                .services__card-desc Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.
            .services__card
                .services__card-title
                    span 02
                    div Art Direction
                .services__card-desc Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.
            .services__card
                .services__card-title
                    span 03
                    div Brand Strategy
                .services__card-desc Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.
            .services__card
                .services__card-title
                    span 04
                    div Motion
                .services__card-desc Conversion gamification lean startup network effects rockstar facebook first mover advantage influencer scrum project vesting period.