.section-main.testimonials.js-section#testimonials
    .container-main.testimonials__container
        .testimonials__row
            .testimonials__title.neue-headline2-green my clients
            .swiper-container2.testimonials__swiper-container
                .swiper-wrapper.testimonials__swiper-wrapper
                    .swiper-slide.testimonials__swiper-slide 
                        .testimonials__card
                            .testimonials__img-wrapper
                                img.testimonials__img(src="img/main/testimonials/img1.jpg")
                            .testimonials__content
                                img.testimonials__content-img(src="img/main/testimonials/quote.svg")
                                .testimonials__content-text.manrope-text1 Return on investment founders alpha metrics virality gamification startup ownership partner network leverage. Burn rate network effects entrepreneur research & development partnership hypotheses. Facebook user experience vesting period innovator early adopters focus customer.
                                .testimonials__inner
                                    .testimonials__author-wrapper
                                        .testimonials__content-author.neue-headline3 Mary Biorick
                                        .testimonials__content-company CEO, Rised Inc.
                                    .testimonials__swiper-button-wrapper
                                        .swiper-button-prev2.testimonials__swiper-button-prev
                                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                                            <path d="M29 18L21 25L29 32" stroke="#787A7C"/>
                                            </svg>
                                        .swiper-button-next2.testimonials__swiper-button-next
                                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                                            <path d="M21 32L29 25L21 18" stroke="#787A7C"/>
                                            </svg>
