.section-main.works.js-section#works
    .container-main.works__container
        .works__title.neue-headline2-green selected works
        .works__row
            .swiper-container2.works__swiper-container
                .swiper-wrapper.works__swiper-wrapper
                    .swiper-slide.works__swiper-slide.works__slide-xs
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img1.jpg" alt="img")
                            .works__text.neue-headline3 Wales Times
                    .swiper-slide.works__swiper-slide.works__slide-sm
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img2.jpg" alt="img")
                            .works__text.neue-text2 Gaming Overload
                    .swiper-slide.works__swiper-slide.works__slide-sm
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img3.jpg" alt="img")
                            .works__text.neue-.neue-text2 Trade Formula
                    .swiper-slide.works__swiper-slide.works__slide-xs
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img4.jpg" alt="img")
                            .works__text.neue-headline3 Astray
                    .swiper-slide.works__swiper-slide.works__slide-sm
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img5.jpg" alt="img")
                            .works__text.neue-text2 Gaming Overload
                    .swiper-slide.works__swiper-slide.works__slide-sm
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img6.jpg" alt="img")
                            .works__text.neue-.neue-text2 Trade Formula
                    .swiper-slide.works__swiper-slide.works__slide-xs
                        a(href="./case.html").works__card
                            img.works__img(src="img/main/works/img7.jpg" alt="img")
                            .works__text.neue-headline3 Astray
            .swiper-button-wrapper
                .swiper-button-prev2.works__swiper-button-prev
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                    <path d="M29 18L21 25L29 32" stroke="#787A7C"/>
                    </svg>
                .swiper-button-next2.works__swiper-button-next
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                    <path d="M21 32L29 25L21 18" stroke="#787A7C"/>
                    </svg>
